@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
.navbar {
    display: grid;
    grid-template-columns: repeat(2, auto);
    height: 80px;
    background-color: #222f3e;
}
.navbar .left-logo {
    display: grid;
    place-items: center;
    justify-items: start;
    justify-content: start;
}
.navbar .left-logo img {
    width: 80px;
    display: grid;
    margin-top: 5px;   
}   
.right-menu {
    display: grid;
    grid-template-columns: 100px 100px 120px 140px;
    list-style-type: none;
    justify-content: end;
    justify-items: center;
    font-size: 20px;
    align-content: space-around;
    justify-items: stretch;
}
.right-menu a {
    text-decoration: none;
    color: white;
}
.main-container {
    display: grid;
    width: 100%;
    height: 100vh;
    place-items: center;
    grid-template-columns: repeat(2, auto);
    background-color: white;
}
.main-container .left-side h1 {
    font-size: 70px;
    color: #222f3e;
}
.main-container .right-side img {
    width: 100%;
    object-fit: cover;
    height: 60vh;
}
.main-container .left-side h1::selection {
    background-color: white;
    color: #222f3e;
    cursor: pointer;
}
.main-container .left-side .whoiam p {
    font-size: 25px;
    padding: 0.1rem;
    color: #222f3e;
    margin: 0.5rem;
}
.main-container .left-side .work p {
    font-size: 21px;
    padding: 0.1rem;
    margin: 0.5rem;
    color: #222f3e;
}
.main-container .left-side .hire-me button {
    background-color: #222f3e;
    border: none;
    font-size: 15px;
    color: #222f3e;
    width: 150px;
    padding: 0.5rem;
    margin: 0.5rem;
    height: 50px;
}
.main-container .left-side .hire-me button:hover {
    background-color: #222f3ec4;
    color: #f8f8f8;
    transition: 0.3s;
}
.main-container .left-side .hire-me a {
    text-decoration: none;
    color: white;
}
/* work container */
.work-container {
    height: 90vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,auto);
    justify-content: center;
    place-items: center;
}
.work-title {
    padding: 1rem;
    font-size: 35px;
    display: grid;
    justify-content: center;
    color: rgb(0, 0, 0);
}
.work-left {
    display: grid;
    justify-content: center;
}
.work-left .work-description {
    display: grid;
    place-items: center;
    font-size: 20px;
    color: #222f3e;
}
.work-left .work-skill {
    place-items: center;
    display: grid;
}
.work-left .title-work h1 {
    font-size: 50px;
    padding: 1rem;
    color: #222f3e;
    display: grid;
    justify-items: center;
}
.work-right {
    display: grid;
    place-items: center;
}
.work-right .image-skill img {
    width: auto;
    height: 500px;
    object-fit: cover;
    border-radius: 10%;
    box-shadow: 4px 5px #222f3e;
}
.work-left .work-paragraph p {
    font-size: 20px;
    margin: 1rem;
    display: grid;
    place-items: center;
}
.work-left .work-name h1 {
    font-size: 20px;
    justify-content: center;
    display: grid;
}
.work-left .work-name p {
    display: grid;
    justify-content: center;
}
/* PROJECT */
.project-title {
    padding: 1rem;
    font-size: 35px;
    display: grid;
    justify-content: center;
    color: rgb(0, 0, 0);
}
.project-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    width: 100%;
    /*   */
    justify-items: center;
    /* padding: 5rem; */
}
/* PROJECT 1 */
.project-container .work .project1 .img img {
    width: 250px;
}
.project-container .work .project1 .project-description p {
    font-size: 15px;
    display: grid;
    justify-content: center;
    padding: 1rem;
    color: #222f3e;
}
.project-container .work .project1 .viewsite a {
    text-decoration: none;
    display: grid;
    justify-content: center;
    font-size: 15px;
    color: white;
    background-color: #222f3e;
    padding: 0.5rem;
}
/* PROJECT 2 */
.project-container .work .project2 .img img {
    width: 250px;
}
.project-container .work .project2 .project-description p {
    font-size: 15px;
    display: grid;
    justify-content: center;
    padding: 1rem;
    color: #222f3e;
}
.project-container .work .project2 .viewsite a {
    text-decoration: none;
    display: grid;
    justify-content: center;
    font-size: 15px;
    color: white;
    background-color: #222f3e;
    padding: 0.5rem;
}
/* PROJECT 3 */
.project-container .work .project3 .img img {
    width: 250px;
}
.project-container .work .project3 .project-description p {
    font-size: 15px;
    display: grid;
    justify-content: center;
    padding: 1rem;
    color: #222f3e;
}
.project-container .work .project3 .viewsite a {
    text-decoration: none;
    display: grid;
    justify-content: center;
    font-size: 15px;
    color: white;
    background-color: #222f3e;
    padding: 0.5rem;
}
/* PROJECT 4 */
.project-container .work .project4 .img img {
    width: 250px;
}
.project-container .work .project4 .project-description p {
    font-size: 15px;
    display: grid;
    justify-content: center;
    padding: 1rem;
    color: #222f3e;
}
.project-container .work .project4 .viewsite a {
    text-decoration: none;
    display: grid;
    justify-content: center;
    font-size: 15px;
    color: white;
    background-color: #222f3e;
    padding: 0.5rem;
}
/* PROJECT 5 */
.project-container .project5 img {
    width: 250px;
}
.project-container .project5 .project-description p {
    font-size: 15px;
    display: grid;
    justify-content: center;
    padding: 1rem;
    color: #222f3e;
}
.project-container .project5 .viewsite a {
    text-decoration: none;
    display: grid;
    justify-content: center;
    font-size: 15px;
    color: white;
    background-color: #222f3e;
    padding: 0.5rem;
}

/* TESTIMONIAL */
.testimonial-title {
    padding: 1rem;
    font-size: 35px;
    display: grid;
    justify-content: center;
    color: rgb(0, 0, 0);
}
.testimonial-container {
    width: 100%;
    justify-content: center;
    height: 100vh;
    display: grid;
}
.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 15px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    align-items: center;
    place-content: center;
  }
.mySwiper {
    height: 80vh;
    width: 100%;
}
.card5 .work {
    font-size: 25px;
    padding: 1rem;
}
.card5 .name {
    font-size: 23px;
    padding: 1rem;
}
.card5 .description {
    font-size: 20px;
    color: #222f3e;
}

.card1 .work {
    font-size: 25px;
    padding: 1rem;
}
.card1 .name {
    font-size: 23px;
    padding: 0.5rem;
}
.card1 .description {
    font-size: 20px;
    color: #222f3e;
}

.card2 .work {
    font-size: 25px;
    padding: 1rem;
}
.card2 .name {
    font-size: 23px;
}
.card2 .description {
    font-size: 20px;
    color: #222f3e;
    padding: 0.5rem;
}

.card3 .work {
    font-size: 25px;
    padding: 1rem;
}
.card3 .name {
    font-size: 23px;
    padding: 0.5rem;
}
.card3 .description {
    font-size: 20px;
    color: #222f3e;
}

.card4 .work {
    font-size: 25px;
    padding: 1rem;
}
.card4 .name {
    font-size: 23px;
    padding: 0.5rem;
}
.card4 .description {
    font-size: 20px;
    color: #222f3e;
}
.work-left .icon {
    display: grid;
    grid-template-columns: 40px 40px 40px 20px;
    justify-content: center;
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 25px;
}
.work-left .icon i {
    color: #222f3e; 
}
.footer {
    background-color: #222f3e;
}
.footer footer {
    width: 100%;
    height: 100px;
    display: grid;
    justify-content: center;
    grid-template-columns: 80px 80px 80px 80px 80px;
    place-content: center;
}
.footer footer i {
    color: white;
    font-size: 30px;
}
@media screen and (max-width: 320px) {
        .right-menu {
            display: none;
        }
        .main-container {
            display: grid;
            grid-template-columns: repeat(1, auto);
        }
        .main-container .left-side h1 {
            font-size: 50px;
        }
        .main-container .left-side .whoiam p {
            font-size: 18px;
        }
        .main-container .left-side .work p {
            font-size: 18px;
        }
        .main-container .right-side img {
            width: auto;
            height: 35vh;
        }
        .work-container {
            display: grid;
            grid-template-columns: repeat(1, auto);
            height: 100vh;
        }
        .work-right .image-skill img {
            height: 250px;
        }
        .work-left .title-work h1 {
            font-size: 15px;
        }
        .work-left .work-description p {
            font-size: 20px;
        }
        .project-title h1 {
            font-size: 40px;
            margin-top: 150px;
        }
        .project-container {
            display: grid;
            grid-template-columns: repeat(1, auto);
        }
        .testimonial-title { 
            font-size: 20px;
            margin-top: 80px;
        }
        /* ad */
    
        .swiper {
            width: 60%;
            height: 50%;
          }
        
          .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            width: 800%;
            padding: 2rem;
            /* Center slide text vertically */
            display: flex;
            align-items: center;
            place-content: center;
          }
        .mySwiper {
            height: 100%;
            width: 100%;
        }
        .card1 img {
            width: auto;
            height: 30vh;
        }
        .card2 img {
            width: auto;
            height: 30vh;
        }
        .card3 img {
            width: auto;
            height: 30vh;
        }
        .card4 img {
            width: auto;
            height: 30vh;
        }
        .card5 img {
            width: auto;
            height: 30vh;
        }
        .card5 .work {
            font-size: 18px;
            padding: 1rem;
        }
        .card5 .name {
            font-size: 18px;
            padding: 1rem;
        }
        .card5 .description {
            font-size: 15px;
            color: #222f3e;
        }
        
        .card1 .work {
            font-size: 25px;
            padding: 1rem;
        }
        .card1 .name {
            font-size: 23px;
            padding: 0.5rem;
        }
        .card1 .description {
            font-size: 15px;
            color: #222f3e;
        }
        
        .card2 .work {
            font-size: 25px;
            padding: 1rem;
        }
        .card2 .name {
            font-size: 23px;
        }
        .card2 .description {
            font-size: 15px;
            color: #222f3e;
            padding: 0.5rem;
        }
        
        .card3 .work {
            font-size: 25px;
            padding: 1rem;
        }
        .card3 .name {
            font-size: 23px;
            padding: 0.5rem;
        }
        .card3 .description {
            font-size: 15px;
            color: #222f3e;
        }
        
        .card4 .work {
            font-size: 25px;
            padding: 1rem;
        }
        .card4 .name {
            font-size: 23px;
            padding: 0.5rem;
        }
        .card4 .description {
            font-size: 15px;
            color: #222f3e;
        }
        .work-left .icon {
            display: grid;
            grid-template-columns: 40px 40px 40px 20px;
            justify-content: center;
            margin: 0.5rem;
            padding: 0.5rem;
            font-size: 25px;
        }
        .footer {
            padding: 1rem;
        }
        .footer footer {
            display: grid;
            place-items: center;
            grid-template-columns: 1fr 1fr;
        }
        .footer footer i {
            padding: 1rem;
        }
        .work-left .work-paragraph p {
            font-size: 18px;
            text-align: center;
        }
}
@media screen and (min-width: 321px) and (max-width: 420px) {
    .right-menu {
        display: none;
    }
    .main-container {
        display: grid;
        grid-template-columns: repeat(1, auto);
    }
    .main-container .left-side h1 {
        font-size: 60px;
    }
    .main-container .left-side .whoiam p {
        font-size: 20px;
    }
    .main-container .left-side .work p {
        font-size: 20px;
    }
    .main-container .right-side img {
        width: auto;
        height: 35vh;
    }
    .work-container {
        display: grid;
        grid-template-columns: repeat(1, auto);
        height: 100vh;
    }
    .work-right .image-skill img {
        height: 300px;
    }
    .work-left .title-work h1 {
        font-size: 20px;
    }
    .work-left .work-description p {
        font-size: 21px;
    }
    .project-title h1 {
        font-size: 40px;
        margin-top: 200px;
    }
    .project-container {
        display: grid;
        grid-template-columns: repeat(1, auto);
    }
    .testimonial-title { 
        font-size: 20px;
        margin-top: 80px;
    }
    /* ad */

    .swiper {
        width: 60%;
        height: 50%;
      }
    
      .swiper-slide {
        text-align: center;
        font-size: 20px;
        background: #fff;
        width: 800%;
        padding: 2rem;
        /* Center slide text vertically */
        display: flex;
        align-items: center;
        place-content: center;
      }
    .mySwiper {
        height: 100%;
        width: 100%;
    }
    .card1 img {
        width: auto;
        height: 30vh;
    }
    .card2 img {
        width: auto;
        height: 30vh;
    }
    .card3 img {
        width: auto;
        height: 30vh;
    }
    .card4 img {
        width: auto;
        height: 30vh;
    }
    .card5 img {
        width: auto;
        height: 30vh;
    }
    .card5 .work {
        font-size: 18px;
        padding: 1rem;
    }
    .card5 .name {
        font-size: 18px;
        padding: 1rem;
    }
    .card5 .description {
        font-size: 15px;
        color: #222f3e;
    }
    
    .card1 .work {
        font-size: 25px;
        padding: 1rem;
    }
    .card1 .name {
        font-size: 23px;
        padding: 0.5rem;
    }
    .card1 .description {
        font-size: 15px;
        color: #222f3e;
    }
    
    .card2 .work {
        font-size: 25px;
        padding: 1rem;
    }
    .card2 .name {
        font-size: 23px;
    }
    .card2 .description {
        font-size: 15px;
        color: #222f3e;
        padding: 0.5rem;
    }
    
    .card3 .work {
        font-size: 25px;
        padding: 1rem;
    }
    .card3 .name {
        font-size: 23px;
        padding: 0.5rem;
    }
    .card3 .description {
        font-size: 15px;
        color: #222f3e;
    }
    
    .card4 .work {
        font-size: 25px;
        padding: 1rem;
    }
    .card4 .name {
        font-size: 23px;
        padding: 0.5rem;
    }
    .card4 .description {
        font-size: 15px;
        color: #222f3e;
    }
    .work-left .icon {
        display: grid;
        grid-template-columns: 40px 40px 40px 20px;
        justify-content: center;
        margin: 0.5rem;
        padding: 0.5rem;
        font-size: 25px;
    }
    .footer {
        padding: 1rem;
    }
    .footer footer {
        display: grid;
        place-items: center;
        grid-template-columns: 1fr 1fr;
    }
    .footer footer i {
        padding: 1rem;
    }
    .work-left .work-paragraph p {
        font-size: 18px;
        text-align: center;
    }
}
@media screen and (min-width: 421px) and (max-width: 520px) {
    .right-menu {
        display: none;
    }
    .main-container {
        display: grid;
        grid-template-columns: repeat(1, auto);
    }
    .main-container .left-side h1 {
        font-size: 55px;
    }
    .main-container .left-side .whoiam p {
        font-size: 18px;
    }
    .main-container .left-side .work p {
        font-size: 18px;
    }
    .main-container .right-side img {
        width: auto;
        height: 35vh;
    }
    .work-container {
        display: grid;
        grid-template-columns: repeat(1, auto);
        height: 100vh;
    }
    .work-right .image-skill img {
        height: 300px;
    }
    .work-left .title-work h1 {
        font-size: 20px;
    }
    .work-left .work-description p {
        font-size: 21px;
    }
    .project-title h1 {
        font-size: 40px;
        margin-top: 150px;
    }
    .project-container {
        display: grid;
        grid-template-columns: repeat(1, auto);
    }
    .testimonial-title { 
        font-size: 20px;
        margin-top: 80px;
    }
    /* ad */

    .swiper {
        width: 60%;
        height: 50%;
      }
    
      .swiper-slide {
        text-align: center;
        font-size: 20px;
        background: #fff;
        width: 800%;
        padding: 2rem;
        /* Center slide text vertically */
        display: flex;
        align-items: center;
        place-content: center;
      }
    .mySwiper {
        height: 100%;
        width: 100%;
    }
    .card1 img {
        width: auto;
        height: 30vh;
    }
    .card2 img {
        width: auto;
        height: 30vh;
    }
    .card3 img {
        width: auto;
        height: 30vh;
    }
    .card4 img {
        width: auto;
        height: 30vh;
    }
    .card5 img {
        width: auto;
        height: 30vh;
    }
    .card5 .work {
        font-size: 18px;
        padding: 1rem;
    }
    .card5 .name {
        font-size: 18px;
        padding: 1rem;
    }
    .card5 .description {
        font-size: 15px;
        color: #222f3e;
    }
    
    .card1 .work {
        font-size: 25px;
        padding: 1rem;
    }
    .card1 .name {
        font-size: 23px;
        padding: 0.5rem;
    }
    .card1 .description {
        font-size: 15px;
        color: #222f3e;
    }
    
    .card2 .work {
        font-size: 25px;
        padding: 1rem;
    }
    .card2 .name {
        font-size: 23px;
    }
    .card2 .description {
        font-size: 15px;
        color: #222f3e;
        padding: 0.5rem;
    }
    
    .card3 .work {
        font-size: 25px;
        padding: 1rem;
    }
    .card3 .name {
        font-size: 23px;
        padding: 0.5rem;
    }
    .card3 .description {
        font-size: 15px;
        color: #222f3e;
    }
    
    .card4 .work {
        font-size: 25px;
        padding: 1rem;
    }
    .card4 .name {
        font-size: 23px;
        padding: 0.5rem;
    }
    .card4 .description {
        font-size: 15px;
        color: #222f3e;
    }
    .work-left .icon {
        display: grid;
        grid-template-columns: 40px 40px 40px 20px;
        justify-content: center;
        margin: 0.5rem;
        padding: 0.5rem;
        font-size: 25px;
    }
    .footer {
        padding: 1rem;
    }
    .footer footer {
        display: grid;
        place-items: center;
        grid-template-columns: 1fr 1fr;
    }
    .footer footer i {
        padding: 1rem;
    }
    .work-left .work-paragraph p {
        font-size: 18px;
        text-align: center;
    }
}
@media screen and (min-width: 521px) and (max-width: 620px) {
    .right-menu {
        display: none;
    }
    .main-container {
        display: grid;
        grid-template-columns: repeat(1, auto);
    }
    .main-container .left-side h1 {
        font-size: 55px;
    }
    .main-container .left-side .whoiam p {
        font-size: 18px;
    }
    .main-container .left-side .work p {
        font-size: 18px;
    }
    .main-container .right-side img {
        width: auto;
        height: 35vh;
    }
    .work-container {
        display: grid;
        grid-template-columns: repeat(1, auto);
        height: 100vh;
    }
    .work-right .image-skill img {
        height: 350px;
        display: grid;
    }
    .work-left .title-work h1 {
        font-size: 25px;
    }
    .work-left .work-description p {
        font-size: 20px;
    }
    .project-title h1 {
        font-size: 40px;
        margin-top: 100px;
    }
    .project-container {
        display: grid;
        grid-template-columns: repeat(2, auto);
    }
    .testimonial-title { 
        font-size: 20px;
        margin-top: 80px;
    }
    /* ad */

    .swiper {
        width: 60%;
        height: 50%;
      }
    
      .swiper-slide {
        text-align: center;
        font-size: 20px;
        background: #fff;
        width: 800%;
        padding: 2rem;
        /* Center slide text vertically */
        display: flex;
        align-items: center;
        place-content: center;
      }
    .mySwiper {
        height: 100%;
        width: 100%;
    }
    .card1 img {
        width: auto;
        height: 30vh;
    }
    .card2 img {
        width: auto;
        height: 30vh;
    }
    .card3 img {
        width: auto;
        height: 30vh;
    }
    .card4 img {
        width: auto;
        height: 30vh;
    }
    .card5 img {
        width: auto;
        height: 30vh;
    }
    .card5 .work {
        font-size: 18px;
        padding: 1rem;
    }
    .card5 .name {
        font-size: 18px;
        padding: 1rem;
    }
    .card5 .description {
        font-size: 15px;
        color: #222f3e;
    }
    
    .card1 .work {
        font-size: 25px;
        padding: 1rem;
    }
    .card1 .name {
        font-size: 23px;
        padding: 0.5rem;
    }
    .card1 .description {
        font-size: 15px;
        color: #222f3e;
    }
    
    .card2 .work {
        font-size: 25px;
        padding: 1rem;
    }
    .card2 .name {
        font-size: 23px;
    }
    .card2 .description {
        font-size: 15px;
        color: #222f3e;
        padding: 0.5rem;
    }
    
    .card3 .work {
        font-size: 25px;
        padding: 1rem;
    }
    .card3 .name {
        font-size: 23px;
        padding: 0.5rem;
    }
    .card3 .description {
        font-size: 15px;
        color: #222f3e;
    }
    
    .card4 .work {
        font-size: 25px;
        padding: 1rem;
    }
    .card4 .name {
        font-size: 23px;
        padding: 0.5rem;
    }
    .card4 .description {
        font-size: 15px;
        color: #222f3e;
    }
    .work-left .icon {
        display: grid;
        grid-template-columns: 40px 40px 40px 20px;
        justify-content: center;
        margin: 0.5rem;
        padding: 0.5rem;
        font-size: 25px;
    }
    .footer {
        padding: 1rem;
    }
    .footer footer {
        display: grid;
        place-items: center;
        grid-template-columns: 1fr 1fr;
    }
    .footer footer i {
        padding: 1rem;
    }
    .work-left .work-paragraph p {
        font-size: 18px;
        text-align: center;
    }
}
@media screen and (min-width: 621px) and (max-width: 720px) {
    .right-menu {
        display: none;
    }
    .main-container {
        display: grid;
        grid-template-columns: repeat(2, auto);
    }
    .main-container .left-side h1 {
        font-size: 55px;
    }
    .main-container .left-side .whoiam p {
        font-size: 18px;
    }
    .main-container .left-side .work p {
        font-size: 18px;
    }
    .main-container .right-side img {
        width: auto;
        height: 35vh;
    }
    .work-container {
        display: grid;
        grid-template-columns: repeat(2, auto);
        height: 100vh;
    }
    .work-right .image-skill img {
        height: 300px;
    }
    .work-left .title-work h1 {
        font-size: 20px;
    }
    .work-left .work-description p {
        font-size: 21px;
    }
    .project-title h1 {
        font-size: 40px;
        margin-top: 100px;
    }
    .project-container {
        display: grid;
        grid-template-columns: repeat(2, auto);
    }
    .testimonial-title { 
        font-size: 20px;
        margin-top: 80px;
    }
    /* ad */

    .swiper {
        width: 60%;
        height: 50%;
      }
    
      .swiper-slide {
        text-align: center;
        font-size: 20px;
        background: #fff;
        width: 800%;
    
        /* Center slide text vertically */
        display: flex;
        align-items: center;
        place-content: center;
      }
    .mySwiper {
        height: 100%;
        width: 100%;
    }
    .card1 img {
        width: auto;
        height: 30vh;
    }
    .card2 img {
        width: auto;
        height: 30vh;
    }
    .card3 img {
        width: auto;
        height: 30vh;
    }
    .card4 img {
        width: auto;
        height: 30vh;
    }
    .card5 img {
        width: auto;
        height: 30vh;
    }
    .card5 .work {
        font-size: 18px;
        padding: 1rem;
    }
    .card5 .name {
        font-size: 18px;
        padding: 1rem;
    }
    .card5 .description {
        font-size: 15px;
        color: #222f3e;
    }
    
    .card1 .work {
        font-size: 25px;
        padding: 1rem;
    }
    .card1 .name {
        font-size: 23px;
        padding: 0.5rem;
    }
    .card1 .description {
        font-size: 15px;
        color: #222f3e;
    }
    
    .card2 .work {
        font-size: 25px;
        padding: 1rem;
    }
    .card2 .name {
        font-size: 23px;
    }
    .card2 .description {
        font-size: 15px;
        color: #222f3e;
        padding: 0.5rem;
    }
    
    .card3 .work {
        font-size: 25px;
        padding: 1rem;
    }
    .card3 .name {
        font-size: 23px;
        padding: 0.5rem;
    }
    .card3 .description {
        font-size: 15px;
        color: #222f3e;
    }
    
    .card4 .work {
        font-size: 25px;
        padding: 1rem;
    }
    .card4 .name {
        font-size: 23px;
        padding: 0.5rem;
    }
    .card4 .description {
        font-size: 15px;
        color: #222f3e;
    }
    .work-left .icon {
        display: grid;
        grid-template-columns: 40px 40px 40px 20px;
        justify-content: center;
        margin: 0.5rem;
        padding: 0.5rem;
        font-size: 25px;
    }
    .footer {
        padding: 1rem;
    }
    .footer footer {
        display: grid;
        place-items: center;
        grid-template-columns: 1fr 1fr;
    }
    .footer footer i {
        padding: 1rem;
    }
    .work-left .work-paragraph p {
        font-size: 18px;
        text-align: center;
    }
}
@media screen and (min-width: 721px) and (max-width: 920px) {
    .right-menu {
        display: none;
    }
    .main-container {
        display: grid;
        grid-template-columns: repeat(2, auto);
    }
    .main-container .left-side h1 {
        font-size: 55px;
    }
    .main-container .left-side .whoiam p {
        font-size: 18px;
    }
    .main-container .left-side .work p {
        font-size: 18px;
    }
    .main-container .right-side img {
        width: auto;
        height: 50vh;
    }
    .work-container {
        display: grid;
        grid-template-columns: repeat(2, auto);
        height: 100vh;
    }
    .work-right .image-skill img {
        height: 300px;
    }
    .work-left .title-work h1 {
        font-size: 20px;
    }
    .work-left .work-description p {
        font-size: 21px;
    }
    .project-title h1 {
        font-size: 40px;
        margin-top: 100px;
    }
    .project-container {
        display: grid;
        grid-template-columns: repeat(3, auto);
    }
    .testimonial-title { 
        font-size: 20px;
        margin-top: 80px;
    }
    /* ad */

    .swiper {
        width: 60%;
        height: 50%;
      }
    
      .swiper-slide {
        text-align: center;
        font-size: 20px;
        background: #fff;
        width: 800%;
    
        /* Center slide text vertically */
        display: flex;
        align-items: center;
        place-content: center;
      }
    .mySwiper {
        height: 100%;
        width: 100%;
    }
    .card1 img {
        width: auto;
        height: 30vh;
    }
    .card2 img {
        width: auto;
        height: 30vh;
    }
    .card3 img {
        width: auto;
        height: 30vh;
    }
    .card4 img {
        width: auto;
        height: 30vh;
    }
    .card5 img {
        width: auto;
        height: 30vh;
    }
    .card5 .work {
        font-size: 18px;
        padding: 1rem;
    }
    .card5 .name {
        font-size: 18px;
        padding: 1rem;
    }
    .card5 .description {
        font-size: 15px;
        color: #222f3e;
    }
    
    .card1 .work {
        font-size: 25px;
        padding: 1rem;
    }
    .card1 .name {
        font-size: 23px;
        padding: 0.5rem;
    }
    .card1 .description {
        font-size: 15px;
        color: #222f3e;
    }
    
    .card2 .work {
        font-size: 25px;
        padding: 1rem;
    }
    .card2 .name {
        font-size: 23px;
    }
    .card2 .description {
        font-size: 15px;
        color: #222f3e;
        padding: 0.5rem;
    }
    
    .card3 .work {
        font-size: 25px;
        padding: 1rem;
    }
    .card3 .name {
        font-size: 23px;
        padding: 0.5rem;
    }
    .card3 .description {
        font-size: 15px;
        color: #222f3e;
    }
    
    .card4 .work {
        font-size: 25px;
        padding: 1rem;
    }
    .card4 .name {
        font-size: 23px;
        padding: 0.5rem;
    }
    .card4 .description {
        font-size: 15px;
        color: #222f3e;
    }
    .work-left .icon {
        display: grid;
        grid-template-columns: 40px 40px 40px 20px;
        justify-content: center;
        margin: 0.5rem;
        padding: 0.5rem;
        font-size: 25px;
    }
    .footer {
        padding: 1rem;
    }
    .footer footer {
        display: grid;
        place-items: center;
        grid-template-columns: 1fr 1fr;
    }
    .footer footer i {
        padding: 1rem;
    }
    .work-left .work-paragraph p {
        font-size: 18px;
        text-align: center;
    }
}
@media screen and (min-width: 921px) and (max-width: 1050px) {
    .right-menu {
        display: none;
    }
    .main-container {
        display: grid;
        grid-template-columns: repeat(2, auto);
    }
    .main-container .left-side h1 {
        font-size: 55px;
    }
    .main-container .left-side .whoiam p {
        font-size: 18px;
    }
    .main-container .left-side .work p {
        font-size: 18px;
    }
    .main-container .right-side img {
        width: auto;
        height: 50vh;
    }
    .work-container {
        display: grid;
        grid-template-columns: repeat(2, auto);
        height: 100vh;
    }
    .work-right .image-skill img {
        height: 300px;
    }
    .work-left .title-work h1 {
        font-size: 20px;
    }
    .work-left .work-description p {
        font-size: 21px;
    }
    .project-title h1 {
        font-size: 40px;
        margin-top: 100px;
    }
    .project-container {
        display: grid;
        grid-template-columns: repeat(3, auto);
    }
    .testimonial-title { 
        font-size: 20px;
        margin-top: 80px;
    }
    /* ad */

    .swiper {
        width: 60%;
        height: 50%;
      }
    
      .swiper-slide {
        text-align: center;
        font-size: 20px;
        background: #fff;
        width: 800%;
        padding: 2rem;
    
        /* Center slide text vertically */
        display: flex;
        align-items: center;
        place-content: center;
      }
    .mySwiper {
        height: 100%;
        width: 100%;
    }
    .card1 img {
        width: auto;
        height: 30vh;
    }
    .card2 img {
        width: auto;
        height: 30vh;
    }
    .card3 img {
        width: auto;
        height: 30vh;
    }
    .card4 img {
        width: auto;
        height: 30vh;
    }
    .card5 img {
        width: auto;
        height: 30vh;
    }
    .card5 .work {
        font-size: 18px;
        padding: 1rem;
    }
    .card5 .name {
        font-size: 18px;
        padding: 1rem;
    }
    .card5 .description {
        font-size: 15px;
        color: #222f3e;
    }
    
    .card1 .work {
        font-size: 25px;
        padding: 1rem;
    }
    .card1 .name {
        font-size: 23px;
        padding: 0.5rem;
    }
    .card1 .description {
        font-size: 15px;
        color: #222f3e;
    }
    
    .card2 .work {
        font-size: 25px;
        padding: 1rem;
    }
    .card2 .name {
        font-size: 23px;
    }
    .card2 .description {
        font-size: 15px;
        color: #222f3e;
        padding: 0.5rem;
    }
    
    .card3 .work {
        font-size: 25px;
        padding: 1rem;
    }
    .card3 .name {
        font-size: 23px;
        padding: 0.5rem;
    }
    .card3 .description {
        font-size: 15px;
        color: #222f3e;
    }
    
    .card4 .work {
        font-size: 25px;
        padding: 1rem;
    }
    .card4 .name {
        font-size: 23px;
        padding: 0.5rem;
    }
    .card4 .description {
        font-size: 15px;
        color: #222f3e;
    }
    .work-left .icon {
        display: grid;
        grid-template-columns: 40px 40px 40px 20px;
        justify-content: center;
        margin: 0.5rem;
        padding: 0.5rem;
        font-size: 25px;
    }
    .footer {
        padding: 1rem;
    }
    .footer footer {
        display: grid;
        place-items: center;
        grid-template-columns: 1fr 1fr;
    }
    .footer footer i {
        padding: 1rem;
    }
    .work-left .work-paragraph p {
        font-size: 18px;
        text-align: center;
    }
}
